.stampAuctionDatabase {
    top: 30px;
    left: 30px;
    width: 500px;
    position: absolute;
    border-radius: 25px;
    background: #7491af;
    color: #e3e3e3;
    font-family: "Ubuntu";
    text-align: center;
    font-size: 40px;
    border: none;
}

.browseButton {
    cursor: pointer;
    position: absolute;
    left: 25vw;
    width: 350px;
    height: 100px;
    border-radius: 25px;
    margin-top: 43vh;
    background: #7491af;
    color: #e3e3e3;
    font-family: "Ubuntu";
    font-size: 40px;
    text-align: center;
    border: none;
}

.postButton {
    cursor: pointer;
    position: absolute;
    right: 25vw;
    width: 350px;
    height: 100px;
    border-radius: 25px;
    margin-top: 43vh;
    background: #7491af;
    color: #e3e3e3;
    font-family: "Ubuntu";
    font-size: 40px;
    text-align: center;
    border: none;
}

.settingsButton {
    cursor: pointer;
    position: absolute;
    right: 1.5vw;
    width: 200px;
    font-size: 30px;
    border-radius: 25px;
    bottom: 200px;
    background: #7491af;
    color: #e3e3e3;
    font-family: "Ubuntu";
    border: none;
}

.logoutButton {
    cursor: pointer;
    position: absolute;
    right: 1.5vw;
    width: 200px;
    font-size: 30px;
    border-radius: 25px;
    bottom: 100px;
    background: #7491af;
    color: #e3e3e3;
    font-family: "Ubuntu";
    border: none;
}

.appVersion {
    position: absolute;
    bottom: 10px;
    color: #e3e3e3;
    right: 3.5vw;
}

#sideMenuButton {
    font-size: 60px;
    position: absolute;
    right: 20px;
    top: 50px;
    color: #e3e3e3;
}

@media only screen and (max-width: 1400px) {
    .postButton {
        margin-top: calc(43vh + 120px);
        right: calc(50vw - 175px);
    }
    .browseButton {
        left: calc(50vw - 175px);
    }
  }

.ant-drawer-body {
    background: #5b9292;
}

.ant-drawer-header {
    background: #5b9292;
    border: none;
}

.ant-drawer-title {
    height: 140px;
    font-size: 30px;
    text-align: center;
    font-family: "Ubuntu";
    color: #e3e3e3;
    display: block;
    border-radius: 20px;
    background-color: #74b0b0;
    margin-top: 30px;
    line-height: 55px;
}

.ant-drawer-close {
    color: #e3e3e3;
}

span {
    font-size: 25px;
}

.ant-popover-inner-content {
    height: 80px;
    width: 240px;
    font-size: 30px;
    text-align: center;
    font-family: "Ubuntu";
    color: #e3e3e3;
    display: block;
    background-color: #74b0b0;
    border-radius: 25px;
    border: none;
}

.ant-btn-sm {
    position:relative;
    height: 40px;
    bottom: 20px;
    margin-right: 20px;
}

.ant-popover-arrow-content {
    background-color: #74b0b0;
    
}

.ant-popover-inner {
    border-radius: 25px;
    background-color: #74b0b0;
    border: none;
}

.ant-popover-message-title {
    position: relative;
    bottom: 18px;
    font-size: 25px;
    color: #e3e3e3;
}

.ant-popover-buttons {
    position: relative;
    bottom: 18px;
}

.anticon {
    right: 160px !important;
    top: 0px !important;
}

