.header {
    color: #E3E3E3;
    font-family:'Ubuntu';
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

#rcorners1 {
    border-radius: 50px;
    background: #7491AF;
    padding: 0px; 
    width: 1200px;
    height: 150px; 
    margin: auto; 
}

.loginButton {
    border-radius: 100px;
    background: #7491AF;
    color: #E3E3E3;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    width: 250px;
    height: 100px;
    margin-top: 500px;
    text-align: center;
    border: none;
}





