.header {
  color: #e3e3e3;
  font-family: "Ubuntu";
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}

#title {
  position:absolute;
  border-radius: 50px;
  background: #7491af;
  color: #e3e3e3;
  padding: 0px;
  width: 1200px;
  height: 150px;
  left: calc(50vw - 600px);
}

.loginButton {
  position: absolute;
  top: calc(45vh + 200px);
  right: calc(50vw - 125px);
  cursor: pointer;
  border-radius: 100px;
  background: #7491af;
  color: #e3e3e3;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  width: 250px;
  height: 100px;
  text-align: center;
  border: none;
  transition: 0.5s;
}

.loginButton:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

#username,
#password {
  height: 50px;
  font-size: 20px;
  width: 400px;
  right: calc(50vw - 200px);
  position: absolute;
  top: 45vh;
  border-radius: 50px;
  background-color: #7491af;
  color: #e3e3e3;
  border: hidden;
  transition: 0.5s;
}
#password {
  top: calc(45vh + 70px);
}

#username:hover,
#password:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}