#postWrapper {
  background-color: #5B9292;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  height: 80vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2.5vh;
}
#PostHeader {
  z-index: 1;
  height: 10vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2.5vh;
}

.firstRow {
  padding-top: 1vh;
}

.categoryMenu {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-top: 1vh;
  font-size: 3vh;
  color: #e3e3e3;
  border-radius: 10px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  height: 6.75vh;
  padding-top: 1.6vh;
  padding-left: 15px;
  background-color: #5B9292;
}

.ant-select-selection-placeholder {
  z-index: 20;
  color: #e3e3e398;
  font-size: 3vh;
}
.ant-select-arrow {
  font-size: 16px;
  right: 16px;
  color: #e3e3e3;
}

.ant-select-open {
  font-size: 3vh;
  background-color: #5B9292;
}

.ant-select-selection-search, .ant-select-selection-item{
  padding-top: 0;
  background-color: #5B9292;
  color: #e3e3e3;
}

.ant-select-dropdown{
  border-radius: 10px;
  background-color: #5B9292;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
}

.ant-select-item{
  color: #e3e3e3;
  
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled), .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #69acac;
  color: #e3e3e3;
}

.ant-select-item-option-content{
  line-height: 3.5vh;
  font-size: 3vh;
}
.secondRow {
  padding-top: 1vh;
}

.columnFirstRow {
  height: 32vh;
  background-color: #7491AF;
  border-radius: 5px;
}

.stampInfoRow {
  padding-top: 0vh;
  background-color: #7491AF;
  border-radius: 5px;
}

.stampInfoRowTop {
  width: calc(100% - 10px);
  height: 12vh;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 0vh;
  border-radius: 5px;
}

.stampInfoRowBottom {
  width: calc(100% - 10px);
  height: 8vh;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 0vh;
  border-radius: 5px;

}

.stampInfoColumn {
  height: 26vh;
  background-color: #7491AF;
  border-radius: 5px;
}

.stampSellerRow {
  padding-top: 0vh;
}

.stampSellerColumn {
  margin-top: 1vh;
  height: 18vh;
  background-color: #7491AF;
  border-radius: 5px;
}


.columnThumbnail {
  height: 45vh;
  background-color: #7491AF;
  border-radius: 5px;
}

.columnInfo {
  height: 45vh;
}

body {
  overflow: hidden;
}

.firstRow {
  padding-top: 1vh;
}

#back, #save {
  cursor: pointer;
  margin-top: 2.5vh;
  border-radius: 100px;
  background: #7491af;
  color: #e3e3e3;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  width: 12vh;
  height: 5vh;
  text-align: center;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#postView {
  text-align: center;
  position: absolute;
  width: 90vw;
  height: 10vh;
  pointer-events: none;
}
#postText {
  pointer-events: none;
  margin-top: 2vh;
  font-size: 4vh;
  color: #e3e3e3;
  font-family: "Ubuntu";
  margin-bottom: 0;
}

#descriptionField {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  font-size: 3.5vh;
  background-color: #5B9292;
  color: #e3e3e3;
  resize: none;
  margin-left: 10px;
  margin-top: 10px;
}

img {
  z-index: 100;
  background-color: #5B9292;
  width: 25vh;
  height: 25vh;
  border-radius: 10px;
}

.thumbnailFirstRow{
  height: 30vh;
}

.thumbnailSecondRow{
  height: 15vh;
  z-index: 1000;
}

.columnThumbnailAdditional{
  height: 10vh;
  border-radius: 10px;
  background-color: #5B9292;
}
p {
  font-size: 2vh;
  color:"#e3e3e3";
}

#infoInput {
  width: 10vw;
  height: 5vh;
  font-size: 2vh;
  background-color: #5B9292;
  color: #e3e3e3;
  resize: none;
  margin-left: 0px;
  margin-top: 0px;
}

#infoInputStartingPrice {
  margin-left: 8vw;
  width: 11vw;
  height: 6vh;
  font-size: 2.5vh;
  background-color: #5B9292;
  color: #e3e3e3;
  resize: none;
  margin-top: 0px;
}

#infoInputSellingPrice {
  width: 11vw;
  height: 6vh;
  font-size: 2.5vh;
  background-color: #5B9292;
  color: #e3e3e3;
  resize: none;
  margin-left: 0px;
  margin-top: 0px;
}

#infoInputCurrency {
  width: 6vh;
  height: 6vh;
  font-size: 2.5vh;
  background-color: #5B9292;
  color: #e3e3e3;
  resize: none;
  margin-left: 0px;
  margin-right: 8vw;
  margin-top: 0px;
}

.infoInputBottom {
  width: 23vw;
  height: 6vh;
  font-size: 3vh;
  background-color: #5B9292;
  color: #e3e3e3;
  resize: none;
}

.infoInputBottomLot {
  width: 23vw;
  height: 6.5vh;
  font-size: 3vh;
  background-color: #5B9292;
  color: #e3e3e3;
  resize: none;
}

.ant-checkbox-inner, .ant-checkbox-input {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  top: 0px;
  margin-right: 5px;
  background-color: #5B9292;
}

.ant-checkbox, .ant-checkbox-checked{
  background-color: #5B9292;
  border:#7491AF;
}

.checkBoxText {
  color: #e3e3e3;
  font-size: 110%;
  display: inline;
}
